.text-input {
  display: flex;
  position: relative;

  .text-input-container {
    position: relative;
    display: flex;
    flex-grow: 1;
  }
  .text-input-wrapper {
    flex-grow: 1;
    position: relative;
  }

  &.native {
    .text-input-flylabel {
      display: none;
    }
    .text-input-prefix,
    .text-input-suffix {
      position: absolute;
      top: 0.5rem;
      z-index: 1;
    }
    .text-input-prefix {
      left: 0.5rem;
    }
    .text-input-suffix {
      right: 0.5rem;
    }
  }
  .form-control.is-invalid {
    background-image: none;
    color: $input-label-color-danger;
  }
  .suffix-password.is-invalid {
    color: $input-label-color-danger;
  }

  .suffix-password {
    display: block;
    cursor: pointer;
    color: $input-label-color-normal;
    width: 1.5rem;
  }
  input::placeholder {
    color: #d8d8d8;
  }
}
