$input-label-color-normal: #424242;
$input-label-color-active: #009140;
$input-placeholder-color: #979797;
$input-background-color: transparent;
$input-label-color-danger: #a30000;

@import 'base';
@import 'bottomlime';
@import 'outline';

.error-message {
  margin-top: 0.25rem;
  font-size: 14px;
  color: #a30000;
}
