:root {
  --input-box-primary: #007bff;
  --input-box-danger: #dc3545;
  --input-box-success: #198754;
  --input-box-disabled: #6c757d;
  --input-box-text-color: #212529;
  --input-box-placeholder-color: #d8d8d8;
  --input-box-bg-color: transparent;
  --input-box-border-color: #cecece;
  --input-box-text-color-focus: var(--input-box-text-color);
  --input-box-bg-color-focus: var(--input-box-bg-color);
  --input-box-border-color-focus: #86b7fe;
  --input-box-text-color-hover: var(--input-box-text-color);
  --input-box-bg-color-hover: var(--input-box-bg-color);
  --input-box-border-color-hover: var(--input-box-primary);
}

.input-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.input-box .input-box__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.input-box .input-box__wrapper {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.input-box .input-box__input {
  display: block;
  width: 100%;
  line-height: 1;
  padding: 0.375rem 0.75rem;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: var(--input-box-text-color);
  background-color: var(--input-box-bg-color);
  border: 1px solid var(--input-box-border-color);
  background-clip: padding-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.input-box .input-box__input.input-box--invalid {
  --input-box-text-color: var(--input-box-danger);
  --input-box-border-color: var(--input-box-danger);
  --input-box-border-color-focus: rgba(220, 53, 69, 0.25);
}

.input-box .input-box__input.input-box--success {
  --input-box-text-color: var(--input-box-success);
  --input-box-border-color: var(--input-box-success);
  --input-box-border-color-focus: rgba(25, 135, 84, 0.25);
}

.input-box .input-box__input.input-box--disabled {
  opacity: 0.4;
  --input-box-bg-color: var(--input-box-disabled);
  --input-box-border-color: var(--input-box-disabled);
}

.input-box .input-box__input::-webkit-input-placeholder {
  color: var(--input-box-placeholder-color);
}

.input-box .input-box__input:-ms-input-placeholder {
  color: var(--input-box-placeholder-color);
}

.input-box .input-box__input::-ms-input-placeholder {
  color: var(--input-box-placeholder-color);
}

.input-box .input-box__input::placeholder {
  color: var(--input-box-placeholder-color);
}

.input-box:hover .input-box__input {
  color: var(--input-box-text-color-hover);
  background-color: var(--input-box-bg-color-hover);
  border: 1px solid var(--input-box-border-color-hover);
}

.input-box:focus-within .input-box__input {
  color: var(--input-box-text-color-focus);
  background-color: var(--input-box-bg-color-focus);
  border: 1px solid var(--input-box-border-color-focus);
  outline: 0;
  -webkit-box-shadow: 0 0 0.4rem 0 var(--input-box-border-color-focus);
          box-shadow: 0 0 0.4rem 0 var(--input-box-border-color-focus);
}
/*# sourceMappingURL=style.css.map */