.photo-frame {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  position: relative;

  .photo-frame-input {
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
  }
  .photo-frame-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    &.hover {
      border-radius: 2rem;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }
  .photo-frame-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    img,
    svg {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
  }
  .photo-frame-delete {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1;
    color: transparent;
    pointer-events: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
  }
  &:hover {
    .photo-frame-delete {
      pointer-events: auto;
      color: $danger;
      background-color: #fff;
    }
    .photo-frame-image {
      img,
      svg {
        opacity: 0.8;
      }
    }
  }
  &.disabled {
    .photo-frame-delete {
      color: transparent;
      background-color: transparent;
      pointer-events: none;
    }
    .photo-frame-label {
      img,
      svg {
        opacity: 0.4;
      }
    }
  }
  &.readonly {
    .photo-frame-input {
      pointer-events: none;
    }
    .photo-frame-delete {
      color: transparent;
      background-color: transparent;
      pointer-events: none;
    }
    .photo-frame-label {
      pointer-events: none;
      img,
      svg {
        opacity: 1;
      }
    }

    &:hover {
      .photo-frame-image {
        img,
        svg {
          opacity: 1;
        }
      }
    }
  }
}
