.textarea-box {
  position: relative;
  display: flex;
  flex-direction: column;

  .textarea-container {
    position: relative;
    display: flex;
    flex-grow: 1;
  }
  .textarea-wrapper {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    textarea {
      flex-grow: 1;
    }
  }
  // &.native{}
  .form-control.is-invalid {
    background-image: none;
    color: $textarea-label-color-danger;
  }
  textarea::placeholder {
    color: #d8d8d8;
  }
}
