$textarea-label-color-normal: #424242;
$textarea-label-color-active: #009140;
$textarea-placeholder-color: #979797;
$textarea-background-color: transparent;
$textarea-label-color-danger: #a30000;

@import 'base';
@import 'bottomlime';
@import 'outline';
